//- UNFINISHED

//-
	Website Name
meta(name="apple-mobile-web-app-title" content=core.site_name)
meta(name="application-name" content=core.site_name)


//- Base Favicons
link(rel="icon" type="image/png" sizes="16x16" href=core.url + "/assets/favicon/16x16.png")
link(rel="icon" type="image/png" sizes="32x32" href=core.url + "/assets/favicon/32x32.png")
link(rel="icon" type="image/png" sizes="48x48" href=core.url + "/assets/favicon/48x48.png")


//-
	Apple Icon

	Discussion:
	Alright... lots of fucking discussion here, and I can't find a solid answer, but it looks like for ios7+ precomposed is no longer necessary (ios7 was released a long time ago).
	
	Additional sizes are nice for bandwidth usage, but honestly just posing the one keeps things pretty dry.
link(rel="apple-touch-icon" sizes="180x180" href=core.url + "/assets/favicon/180x180.png")
